Repository konstructio/kubefirst, pull requests merged in 2022-11, with the labels that each got.

#782 docs/aws-nodes-graviton
  docs/kubefirst/github/eks-graviton.md
  docs/kubefirst/github/install.md
  docs/tooling/kubefirst-cli.md
Labels: docs

#702 eks graviton support
  internal/flagset/aws.go
  internal/terraform/terraform.go
  pkg/helpers.go
Labels: github, aws

#797 add CODEOWNERS & assign myself to the docs
  .github/CODEOWNERS
Labels: automation
