Repository konstructio/kubefirst, pull requests merged in 2023-01, with the labels that each got.

#1075 refactor docs regarding local installation
  docs/common/argocd.md
  docs/common/certificates.md
  docs/common/metaphor.md
  docs/common/vault.md
  docs/img/kubefirst/github/github-argo-workflow.png
  docs/img/kubefirst/gitlab/gitlab-argo-workflow.png
  docs/img/kubefirst/local/handoff-screen.png
  docs/img/kubefirst/vault/kubefirst-1-11-vault-update-password.gif
  docs/kubefirst/github/argocd.md
  docs/kubefirst/github/gitops.md
  docs/kubefirst/github/vault.md
  docs/kubefirst/gitlab/argocd.md
  docs/kubefirst/gitlab/gitops.md
  docs/kubefirst/gitlab/vault.md
  docs/kubefirst/installer/config-file.md
  docs/kubefirst/local/after-install.md
  docs/kubefirst/local/argocd.md
  docs/kubefirst/local/credit.md
  docs/kubefirst/local/destroy.md
  docs/kubefirst/local/install.md
  docs/kubefirst/local/vault.md
  docs/kubefirst/overview.md
  mkdocs.yml
Labels: docs

#1138 Docs info local limitations
  docs/kubefirst/local/limitations.md
  mkdocs.yml
Labels: docs

#1149 refactor - change the old log library to the new one
  internal/gitlab/gitlab.go
Labels: enhancement

#1179 feat: add gitlab image
  docs/img/kubefirst/gitlab/console.png
Labels: docs

#1025 smart_download
  cmd/clean.go
  cmd/local/prerun.go
  configs/config.go
  docs/kubefirst/github/destroy.md
  docs/kubefirst/gitlab/destroy.md
  docs/kubefirst/local/destroy.md
  docs/kubefirst/local/limitations.md
  docs/tooling/kubefirst-cli.md
  internal/downloadManager/download.go
  pkg/helpers.go
  pkg/helpers_test.go
Labels: enhancement, cli

#1245 Doc refactor of local install
  docs/kubefirst/local/install.md
Labels: docs
